body{
    text-align: center;
    background-color:#5ca1d7;
    margin: 0;
}
img{
    width: 20%;
}
li{
    text-align: left;
}
ol{
    width: 300px;
    display: table;
    margin:0 auto;
}

#second_quote{
    color:white;
    font-size: 1.7em;
}
#quote{
    color: white;
}
h1:hover{
    color:black;
}
#top{
    color: white;
}
#name{
    color: white;
}